<ng-container [formGroup]="form">
    <mat-card class="card-container">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput placeholder="Ex. Jane" formControlName="name" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Title</mat-label>
            <input matInput placeholder="Ex. Jane" formControlName="title" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>address</mat-label>
            <input matInput placeholder="Ex. Jane" formControlName="addresss" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>City</mat-label>
            <input matInput placeholder="Ex. Jane" formControlName="city" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Postal Code</mat-label>
            <input matInput placeholder="Ex. Jane" formControlName="postalCode" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>State</mat-label>
            <input matInput placeholder="Ex. Jane" formControlName="state" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Gender</mat-label>
            <input matInput placeholder="Ex. Jane" formControlName="department" />
        </mat-form-field>
    </mat-card>

</ng-container>





