<ng-container [formGroup]="form">
    <div class="company" >
    <label >Name</label>
    <input matInput class="input" type="text" formControlName="name">
    <label >title</label>
    <input matInput class="input" type="text" formControlName="title">
    <label >Address</label>
    <input matInput class="input" type="text" formControlName="addresss">
    <label >City</label>
    <input matInput class="input" type="text" formControlName="city">
    <label >State</label>
    <input matInput class="input" type="text" formControlName="state">
    <label for="">Postal Code</label>
    <input matInput class="input" type="text" formControlName="postalCode">
    <label for="">Department</label>
    <input matInput class="input" type="text" formControlName="department">
</div>

</ng-container>
