<ng-container [formGroup]="form">
    <div formGroupName="address">
        <label >Address</label>
        <input matInput class="form-control" type="text" formControlName="addresss">
        <label >City</label>
        <input matInput class="form-control" type="text" formControlName="city">
        <label >co-ordinates</label>
        <input matInput class="form-control" type="text" formControlName="coordinates">
        <label >Postal Code</label>
        <input matInput class="form-control" type="text" formControlName="postalCode">
        <label >State</label>
        <input matInput class="form-control" type="text" formControlName="state">
    </div>
    <footer class="footer mt-5 p-2 ">
        <button class="btn btn-primary"  matStepperPrevious>Back</button>
        <button class="btn btn-success " [disabled]="form.get('address').invalid"  matStepperNext>Next</button>
    </footer>
</ng-container>
