<ng-container [formGroup]="form">
    <div class="add">
        <label >Address</label>
        <input matInput class="input" type="text" formControlName="addresss">
        <label >City</label>
        <input matInput class="input" type="text" formControlName="city">
        <label >co-ordinates</label>
        <input matInput class="input" type="text" formControlName="coordinates">
        <label >Postal Code</label>
        <input matInput class="input" type="text" formControlName="postalCode">
        <div>
            <span *ngIf="this.form.controls['postalCode']?.hasError('required') && this.form.controls['postalCode']?.touched"></span>
            <span *ngIf="this.form.controls['postalCode']?.hasError('apply') && this.form.controls['postalCode']?.touched"></span>
        </div>
        <label >State</label>
        <input matInput class="input" type="text" formControlName="state">
    </div>
    <footer class="footer mt-5 p-2 ">
        <button class="btn-back"  matStepperPrevious>Back</button>
        <button class="btn-next " [disabled]="form.invalid"  matStepperNext>Next</button>
    </footer>
</ng-container>
