<ng-container [formGroup]="form">
    <div formGroupName="bank">

        <label >Card Expire</label>
        <input matInput class="form-control" type="text" formControlName="cardExpire">
        <label >card Number</label>
        <input matInput class="form-control" type="text" formControlName="cardNumber">
        <label >Card Type</label>
        <input matInput class="form-control" type="text" formControlName="cardType">
        <label >Currency</label>
        <input matInput class="form-control" type="text" formControlName="currency">
        <label >Iban</label>
        <input matInput class="form-control" type="text" formControlName="iban">
    </div>
    <footer class="footer mt-5 p-2 ">
        <button class="btn btn-primary" matStepperPrevious>Back</button>
        <button class="btn btn-success " [disabled]="form.get('bank').invalid"  matStepperNext>Next</button>
    </footer>
</ng-container>
