<ng-container [formGroup]="form">
    <mat-card class="card-container">
        <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput placeholder="Ex. Jane" formControlName="firtName" />
            <mat-error class="text-danger" *ngIf="this.form.controls['firtName']?.hasError('required') && this.form.controls['firtName']?.touched">Name is Required</mat-error>
        </mat-form-field>
           
        
        <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Ex. Jane" formControlName="lastName" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Maiden Name</mat-label>
            <input matInput placeholder="Ex. Jane" formControlName="maidenName" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput placeholder="Ex. Jane" formControlName="email" />
            <mat-error class="text-danger" *ngIf="this.form.controls['email']?.hasError('email') && this.form.controls['email'].touched">Enter Proper Email</mat-error>
                <mat-error class="text-danger" *ngIf="this.form.controls['email']?.hasError('required') && this.form.controls['email']?.touched">Email is Required</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Age</mat-label>
            <input matInput placeholder="Ex. Jane" formControlName="age" />
            <mat-error class="text-danger" *ngIf="this.form.controls['age']?.hasError('required') && this.form.controls['age']?.touched">Age should be in numbers</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Phone</mat-label>
            <input matInput placeholder="Ex. Jane" formControlName="phone" />
            <mat-error class="text-danger" *ngIf="this.form.controls['phone']?.hasError('required') && this.form.controls['phone']?.touched">Phone No required</mat-error>
        <mat-error class="text-danger" *ngIf="this.form.controls['phone']?.hasError('pattern') && this.form.controls['phone']?.touched">Should Contain only numbers and not more than 10</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Gender</mat-label>
            <input matInput placeholder="Ex. Jane" formControlName="gender" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Birth Date</mat-label>
            <input matInput placeholder="Ex. Jane" formControlName="birthDate" />
        </mat-form-field>
    </mat-card>
    <footer class="footer mt-5 p-2 ">
        <!-- <button mat-button color="primary" [disabled]="form.invalid"  matStepperNext>Next</button> -->
        <button mat-raised-button color="primary" style="margin-left: 45%;" [disabled]="form.invalid"  matStepperNext>Next</button>
        <!-- <button class="btnn" [disabled]="form.invalid"  matStepperNext>Next</button> -->
    </footer>
</ng-container>



<!-- <ng-container [formGroup]="form">
    <div class="info" >
        <mat-label >First Name</mat-label>
            <input matInput type="text" formControlName="firtName">
            <div>
                <span class="text-danger" *ngIf="this.form.controls['firtName']?.hasError('required') && this.form.controls['firtName']?.touched">Name is Required</span>
            </div>
            
            <mat-label >Last Name</mat-label>
            <input matInput  type="text" formControlName="lastName">
            <mat-label >Maiden Name</mat-label>
            <input matInput  type="text" formControlName="maidenName">
            <mat-label >Email</mat-label>
            <input matInput  type="text" formControlName="email">
            <div>
                <span class="text-danger" *ngIf="this.form.controls['email']?.hasError('email') && this.form.controls['email'].touched">Enter Proper Email</span>
                <span class="text-danger" *ngIf="this.form.controls['email']?.hasError('required') && this.form.controls['email']?.touched">Email is Required</span> 
            </div>
            <mat-label >Age</mat-label>
            <input matInput type="text" formControlName="age">
            <div>
                <span class="text-danger" *ngIf="this.form.controls['age']?.hasError('required') && this.form.controls['age']?.touched">Age should be in numbers</span>
            </div>
    <mat-label >Phone</mat-label>
    <input matInput  type="text" formControlName="phone">
    <div>
        <span class="text-danger" *ngIf="this.form.controls['phone']?.hasError('required') && this.form.controls['phone']?.touched">Phone No required</span>
        <span class="text-danger" *ngIf="this.form.controls['phone']?.hasError('pattern') && this.form.controls['phone']?.touched">Should Contain only numbers and not more than 10</span>
    </div>
    <mat-label >Gender</mat-label>
    <input matInput  type="text" formControlName="gender">
    <mat-label >Date of Birth</mat-label>
    <input matInput  type="text" formControlName="birthDate">
</div>


</ng-container> -->
