input{
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-bottom:3px ;
    border: 1px solid black;
}
.form-control.ng-touched.ng-invalid{
    border: 1px solid red;
}

.form-control.ng-touched.ng-valid{
    border: 1px solid green;
}
button{
    margin-top: 5px;
}