
.input.ng-touched.ng-invalid{
    border: 1px solid red;
}
.card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    margin-left: 30%;
}
.input.ng-touched.ng-valid{
    border: 1px solid green;
}
button{
    margin-right:10px;
}
/* .footer{
    background-color: rgb(202, 228, 235);
} */
.btnn{
    margin-left: 45%;
}
.info{
    margin-left: 35%;
}