*{
    list-style-type: none;
}
h1{
    margin-left: 40%;
}
.btn-submit{
    background-color: green;
    padding: 10px 15px;
    color: white;
    border-radius: 10px;
    margin-left: 5px
}
.btn-back{
    background-color: rgb(39, 161, 222);
    padding: 10px 15px;
    color: white;
    border-radius: 10px;
    margin-left: 43%;
}
.btn-reset{
    background-color: rgb(39, 161, 222);
    padding: 10px 15px;
    color: white;
    border-radius: 10px;
    margin-left: 5px;
}
b{
    font-size: 15px;
}
/* .footer{
    background-color: rgb(202, 228, 235);
} */

.stepbtn{
   margin-left: 45%;
   background-color: rgb(39, 161, 222);
    padding: 10px 15px;
    color: white;
    border-radius: 10px;
}