<h1 class=" mt-10"><strong class="text-danger">Control-Container</strong></h1>
<mat-stepper [linear]="isLinear" [formGroup]="userForm">
  <mat-step  [stepControl]="userForm.controls['info']" label="info" state="info">
  <ng-template matStepperIcon="info">
    <mat-icon>forum</mat-icon>
  </ng-template>
    <ng-template  matStepLabel>Details</ng-template>
    <app-info formGroupName="info"></app-info>
  </mat-step>
  <mat-step  [stepControl]="userForm.controls['address']" label="address" state="address">
    <ng-template matStepperIcon="address">
      <mat-icon>home</mat-icon>
    </ng-template>
    <ng-template matStepLabel>Address</ng-template>
   <app-address formGroupName="address"></app-address>
   
  </mat-step>
  <mat-step [stepControl]="userForm.controls['bank']" label="bank" state="bank">
    <ng-template matStepperIcon="bank">
      <mat-icon>credit_card</mat-icon>
    </ng-template>
    <ng-template  matStepLabel>Bank</ng-template>
    <app-bank formGroupName="bank"></app-bank>
  </mat-step>
  <mat-step  [stepControl]="userForm.controls['company']" label="company" state="company">
    <ng-template matStepperIcon="company">
      <mat-icon>work</mat-icon>
    </ng-template>
    <ng-template matStepLabel>Company</ng-template>
    <app-company formGroupName="company"></app-company>
    <!-- <button mat-button class="btn-submit" [disabled]="userForm.invalid" matStepperNext (click)="onClick()">Submit</button> -->
  <footer class="footer mt-5 p-2 ">
      <!-- <button mat-button class="btn-back" matStepperPrevious>Back</button>
      <button mat-button class="btn-submit" [disabled]="userForm.invalid" matStepperNext (click)="onClick()">Submit</button> -->
      <button mat-raised-button color="accent" style="margin-left: 45%;" matStepperPrevious>Back</button>
      <button mat-raised-button color="primary" [disabled]="userForm.invalid" style="margin-left: 8px;" matStepperNext (click)="onClick()">Submit</button>
      <button mat-raised-button color="accent" [disabled]="userForm.invalid" style="margin-left: 8px;" (click)="reset()">Reset</button>
  </footer>
  </mat-step>
  <mat-step label="submit" state="submit">
    <ng-template matStepperIcon="submit">
      <mat-icon>save</mat-icon>
    </ng-template>
    <ng-template matStepLabel>Submitted</ng-template>
    <h1 style="margin-top: 10px;">  
      Submitted Details
    </h1>
    <section *ngIf="userForm.valid">
      
      <details>
        <summary>Personal Details</summary>
        <h4>First Name : <b> {{userForm.get('info')['controls'].firtName.value}}</b></h4>
            <h4>Last Name : <b>{{userForm.get('info')['controls'].lastName.value}}</b></h4>
            <h4>Maiden Name: <b>{{userForm.get('info')['controls'].maidenName.value}}</b></h4>
            <h4>Email: <b>{{userForm.get('info')['controls'].email.value}}</b></h4>
            <h4>Age: <b>{{userForm.get('info')['controls'].age.value}}</b></h4>
            <h4>Phone: <b>{{userForm.get('info')['controls'].phone.value}}</b></h4>
            <h4>Gender:<b>{{userForm.get('info')['controls'].gender.value}}</b></h4>
            <h4>BirthDate:<b>{{userForm.get('info')['controls'].birthDate.value}}</b></h4>
      </details>
      <details>
        <summary>Address</summary>
        <h4>Address: <b>{{userForm.get('address')['controls'].addresss.value}}</b></h4>
        <h4>City: <b>{{userForm.get('address')['controls'].city.value}}</b></h4>
        <h4>Coordinate: <b>{{userForm.get('address')['controls'].coordinates.value}}</b></h4>
        <h4>Postal Code: <b>{{userForm.get('address')['controls'].postalCode.value}}</b></h4>
        <h4>State: <b>{{userForm.get('address')['controls'].state.value}}</b></h4>
      </details>
      <details>
        <summary>Bank Details
        </summary>
        <h4>Card Expire: <b>{{userForm.get('bank')['controls'].cardExpire.value}}</b></h4>
        <h4>Card Number: <b> {{userForm.get('bank')['controls'].cardNumber.value}}</b></h4>
        <h4>Card Type: <b>{{userForm.get('bank')['controls'].cardType.value}}</b></h4>
        <h4>Card Value: <b>{{userForm.get('bank')['controls'].currency.value}}</b></h4>
        <h4>Currency : <b>{{userForm.get('bank')['controls'].iban.value}}</b></h4>
      </details>
      <details>
        <summary>Company
        </summary>
        <h4>Company Name: <b>{{userForm.get('company')['controls'].name.value}}</b></h4>
        <h4>Title: <b>{{userForm.get('company')['controls'].title.value}}</b></h4>
        <h4>Address: <b>{{userForm.get('company')['controls'].addresss.value}}</b></h4>
        <h4>City: <b>{{userForm.get('company')['controls'].city.value}}</b></h4>
        <h4>Postal Code: <b>{{userForm.get('company')['controls'].postalCode.value}}</b></h4>
        <h4>State: <b>{{userForm.get('company')['controls'].state.value}}</b></h4>
        <h4>Department: <b>{{userForm.get('company')['controls'].department.value}}</b></h4>
      </details>
    </section>


    <!-- <div class="d-flex flex-direction-column justify-content-around pb-20">
      <div *ngIf="userForm.valid" class="example-card">
        <label class="text-primary h3">Personal Details</label>
        <div>
            <h4><b>First Name :</b> {{userForm.get('info')['controls'].firtName.value}}</h4>
            <h4><b>Last Name :</b> {{userForm.get('info')['controls'].lastName.value}}</h4>
            <h4><b>Maiden Name:</b> {{userForm.get('info')['controls'].maidenName.value}}</h4>
            <h4><b>Email:</b> {{userForm.get('info')['controls'].email.value}}</h4>
            <h4><b>Age:</b> {{userForm.get('info')['controls'].age.value}}</h4>
            <h4><b>Phone:</b> {{userForm.get('info')['controls'].phone.value}}</h4>
            <h4><b>Gender:</b> {{userForm.get('info')['controls'].gender.value}}</h4>
            <h4><b>BirthDate:</b> {{userForm.get('info')['controls'].birthDate.value}}</h4>
        </div>
      </div>
      <div *ngIf="userForm.valid" class="example-card">
        <label class="text-primary h3">Address</label>
        <mat-card-content>
            <h4><b>Address:</b> {{userForm.get('address')['controls'].addresss.value}}</h4>
            <h4><b>City:</b>{{userForm.get('address')['controls'].city.value}}</h4>
            <h4><b>Coordinate:</b> {{userForm.get('address')['controls'].coordinates.value}}</h4>
            <h4><b>Postal Code:</b> {{userForm.get('address')['controls'].postalCode.value}}</h4>
            <h4><b>State:</b> {{userForm.get('address')['controls'].state.value}}</h4>
        </mat-card-content>
      </div>
    </div>
    <div class=" bankCmp d-flex justify-content-around ">
      <div *ngIf="userForm.valid" class="example-card">
        <label class="bank text-primary h3">Bank</label>
        <div>
            <h4><b>Card Expire:</b> {{userForm.get('bank')['controls'].cardExpire.value}}</h4>
            <h4><b>Card Number:</b> {{userForm.get('bank')['controls'].cardNumber.value}}</h4>
            <h4><b>Card Type:</b> {{userForm.get('bank')['controls'].cardType.value}}</h4>
            <h4><b>Card Value:</b> {{userForm.get('bank')['controls'].currency.value}}</h4>
            <h4><b>Currency :</b>{{userForm.get('bank')['controls'].iban.value}}</h4>
        </div>
      </div>
      <div *ngIf="userForm.valid" class="example-card">
        <label class="text-primary h3">Company</label>
        <div>
            <h4><b>Company Name:</b> {{userForm.get('company')['controls'].name.value}}</h4>
            <h4><b>Title:</b> {{userForm.get('company')['controls'].title.value}}</h4>
            <h4><b>Address:</b> {{userForm.get('company')['controls'].addresss.value}}</h4>
            <h4><b>City:</b> {{userForm.get('company')['controls'].city.value}}</h4>
            <h4><b>Postal Code:</b> {{userForm.get('company')['controls'].postalCode.value}}</h4>
            <h4><b>State:</b> {{userForm.get('company')['controls'].state.value}}</h4>
            <h4><b>Department:</b> {{userForm.get('company')['controls'].department.value}}</h4>
        </div>
      </div>
    </div> -->
    <button mat-raised-button color="accent" style="margin-left: 45%;" matStepperPrevious>Back</button>
    <!-- <div>
      <mat-tab-group *ngIf="userForm.valid" mat-align-tabs="start">
        <mat-tab label="Details">
      
            <h4>{{userForm.get('info')['controls'].firtName.value}}</h4>
            <h4>{{userForm.get('info')['controls'].lastName.value}}</h4>
            <h4>{{userForm.get('info')['controls'].maidenName.value}}</h4>
            <h4>{{userForm.get('info')['controls'].email.value}}</h4>
            <h4>{{userForm.get('info')['controls'].age.value}}</h4>
            <h4>{{userForm.get('info')['controls'].phone.value}}</h4>
            <h4>{{userForm.get('info')['controls'].gender.value}}</h4>
            <h4>{{userForm.get('info')['controls'].birthDate.value}}</h4>
          
        </mat-tab>
        <mat-tab label="Address">
 
            <h4>{{userForm.get('address')['controls'].addresss.value}}</h4>
            <h4>{{userForm.get('address')['controls'].city.value}}</h4>
            <h4>{{userForm.get('address')['controls'].coordinates.value}}</h4>
            <h4>{{userForm.get('address')['controls'].postalCode.value}}</h4>
            <h4>{{userForm.get('address')['controls'].state.value}}</h4>

        </mat-tab>
        <mat-tab label="Bank">
    
            <h4>{{userForm.get('bank')['controls'].cardExpire.value}}</h4>
            <h4>{{userForm.get('bank')['controls'].cardNumber.value}}</h4>
            <h4>{{userForm.get('bank')['controls'].cardType.value}}</h4>
            <h4>{{userForm.get('bank')['controls'].currency.value}}</h4>
            <h4>{{userForm.get('bank')['controls'].iban.value}}</h4>
 
        </mat-tab>
        <mat-tab label="Company">
       
            <h4>{{userForm.get('company')['controls'].name.value}}</h4>
            <h4>{{userForm.get('company')['controls'].title.value}}</h4>
            <h4>{{userForm.get('company')['controls'].addresss.value}}</h4>
            <h4>{{userForm.get('company')['controls'].city.value}}</h4>
            <h4>{{userForm.get('company')['controls'].postalCode.value}}</h4>
            <h4>{{userForm.get('company')['controls'].state.value}}</h4>
            <h4>{{userForm.get('company')['controls'].department.value}}</h4>
      
        </mat-tab>
      </mat-tab-group>
    </div> -->
  </mat-step>

</mat-stepper>


<!-- <div>
  <mat-tab-group *ngIf="userForm.valid" mat-align-tabs="start">
    <mat-tab label="Details">
      <ul>
        <h4>{{userForm.get('info')['controls'].firtName.value}}</h4>
        <h4>{{userForm.get('info')['controls'].lastName.value}}</h4>
        <h4>{{userForm.get('info')['controls'].maidenName.value}}</h4>
        <h4>{{userForm.get('info')['controls'].email.value}}</h4>
        <h4>{{userForm.get('info')['controls'].age.value}}</h4>
        <h4>{{userForm.get('info')['controls'].phone.value}}</h4>
        <h4>{{userForm.get('info')['controls'].gender.value}}</h4>
        <h4>{{userForm.get('info')['controls'].birthDate.value}}</h4>
      </ul>
    </mat-tab>
    <mat-tab label="Address">
      <ul>
        <h4>{{userForm.get('address')['controls'].addresss.value}}</h4>
        <h4>{{userForm.get('address')['controls'].city.value}}</h4>
        <h4>{{userForm.get('address')['controls'].coordinates.value}}</h4>
        <h4>{{userForm.get('address')['controls'].postalCode.value}}</h4>
        <h4>{{userForm.get('address')['controls'].state.value}}</h4>
      </ul>
    </mat-tab>
    <mat-tab label="Bank">
      <ul>
        <h4>{{userForm.get('bank')['controls'].cardExpire.value}}</h4>
        <h4>{{userForm.get('bank')['controls'].cardNumber.value}}</h4>
        <h4>{{userForm.get('bank')['controls'].cardType.value}}</h4>
        <h4>{{userForm.get('bank')['controls'].currency.value}}</h4>
        <h4>{{userForm.get('bank')['controls'].iban.value}}</h4>
      </ul>
    </mat-tab>
    <mat-tab label="Company">
      <ul>
        <h4>{{userForm.get('company')['controls'].name.value}}</h4>
        <h4>{{userForm.get('company')['controls'].title.value}}</h4>
        <h4>{{userForm.get('company')['controls'].addresss.value}}</h4>
        <h4>{{userForm.get('company')['controls'].city.value}}</h4>
        <h4>{{userForm.get('company')['controls'].postalCode.value}}</h4>
        <h4>{{userForm.get('company')['controls'].state.value}}</h4>
        <h4>{{userForm.get('company')['controls'].department.value}}</h4>
      </ul>
    </mat-tab>
  </mat-tab-group>
</div> -->

<!-- <pre>{{resultInfo | json}}</pre> -->
